#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to bottom,
    #8e2de2,
    #4a00e0
  ); /* Purple gradient background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
}

.title {
  color: #e5ceff;
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-family: monospace;
}

.searchBar {
  padding: clamp(0.5rem, 1vw, 1rem);
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  width: clamp(200px, 30vw, 400px);
  border-radius: clamp(0.5rem, 1vw, 1rem);
  border: none;
  outline: none;
  margin-right: clamp(0.5rem, 1vw, 1rem);
  background-color: rgba(255, 255, 255, 0.2);
  color: #e5ceff;
  font-family: monospace;
}

.searchBtn {
  padding: clamp(0.5rem, 1vw, 1rem) clamp(1rem, 2vw, 2rem);
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  border-radius: clamp(0.5rem, 1vw, 1rem);
  margin-left: clamp(0.5rem, 1vw, 1rem);
  background-color: #3d1071;
  color: #e5ceff;
  border: none;
  cursor: pointer;
  font-family: monospace;
}

.searchBar::placeholder {
  color: #e5ceff;
}

.divContainer {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: clamp(1rem, 2vw, 2rem);
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  height: auto;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  padding: 2rem;
}

.weatherInfo {
  width: clamp(200px, 20vw, 300px);
  height: auto;
  min-height: 300px;
  margin: clamp(1rem, 2vw, 2rem);
  padding: 1rem;
  border-radius: clamp(1rem, 2vw, 2rem);
  background-color: #e5ceff;
  color: #3d1071;
  list-style-type: none;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.weatherInfo .weatherIcon {
  width: clamp(50px, 10vw, 100px);
}

.weatherInfo .weatherNumber {
  font-size: clamp(1.5rem, 3vw, 3rem);
  margin: 0.5rem 0;
}

.weatherInfo .weatherDesc {
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  margin: 1rem 0;
}

.weatherInfo .weatherText {
  font-size: clamp(0.9rem, 1.6vw, 1.6rem);
  font-weight: normal;
  margin: 0.5rem 0;
}

.weatherInfo .weatherCity {
  font-size: clamp(1rem, 2vw, 2rem);
  margin-top: 1rem;
  font-weight: bold;
}

.weatherInfo .closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  cursor: pointer;
  color: #3d1071;
}

@media screen and (max-width: 768px) {
  .divContainer {
    width: 95%;
    padding: 1rem;
  }

  .weatherInfo {
    width: 100%;
    margin: 1rem 0;
  }

  .searchBar,
  .searchBtn {
    width: 100%;
    margin: 0.5rem 0;
  }
}
