#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.searchBar {
  padding: 10px;
  font-size: 1.5vw;
  width: 30vw;
  border-radius: 1vw;
  border: 1px solid #ddd;
  margin-right: 1vw;
}

.searchBtn {
  padding: 10px;
  font-size: 1.5vw;
  border-radius: 1vw;
  background-color: #2e335a;
  color: white;
  border: none;
  cursor: pointer;
}

.divContainer {
  background-color: #2e335a;
  border-radius: 2vw;
  margin: 0 auto;
  width: 70vw;
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Ensuring that cards wrap within the container */
  overflow: hidden; /* Prevent overflow from showing */
}

.weatherIcon {
  width: 5vw;
}

.weatherNumber {
  font-size: 2.8vw;
  margin-top: 0;
}

.weatherText {
  font-size: 1.5vw;
  font-weight: normal;
}

.weatherCity {
  font-size: 2vw;
  margin-top: 0;
}

.weatherDesc {
  font-size: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.weatherInfo {
  width: 20vw;
  height: 30vw;
  margin-bottom: 2vw;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 2vw;
  background-color: #748cf5;
  list-style-type: none;
  margin-right: 2vw;
  box-sizing: border-box;
}

.closeBtn {
  background-color: #748cf5;
  color: white;
  display: block;
  font-size: 2vw;
}
