#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.searchBar {
  border-radius: 0.5vw;
  font-size: 1vw;
}

.searchBtn {
  font-size: 1vw;
}

.divContainer {
  background-color: #2E335A;
  border-radius: 2vw;
  margin-top: 1vw;
  width: 70vw;
  height: 40vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.divContainer div {
  background-color: #47309B;
  border-radius: 1.5vw;
  width: 20vw;
  height: 90%;
}



.weatherIcon {
  position: fixed;
  right: 40%;
  width: 5vw;
}

.weatherNumber {
  font-size: 2.8vw;
}

.weatherText {
  font-size: 1.5vw;
  font-weight: normal;
}

.weatherCity {
  font-size: 2vw;
}

.weatherDesc {
  font-size: 2vw;
  margin-top: 5vw;
}